In [1]:
import pandas as pd
df = pd.read_csv('adult.data')
print(df.head())

   39          State-gov   77516   Bachelors   13        Never-married  \
0  50   Self-emp-not-inc   83311   Bachelors   13   Married-civ-spouse
1  38            Private  215646     HS-grad    9             Divorced
2  53            Private  234721        11th    7   Married-civ-spouse
3  28            Private  338409   Bachelors   13   Married-civ-spouse
4  37            Private  284582     Masters   14   Married-civ-spouse

         Adm-clerical   Not-in-family   White     Male   2174   0   40  \
0     Exec-managerial         Husband   White     Male      0   0   13
1   Handlers-cleaners   Not-in-family   White     Male      0   0   40
2   Handlers-cleaners         Husband   Black     Male      0   0   40
3      Prof-specialty            Wife   Black   Female      0   0   40
4     Exec-managerial            Wife   White   Female      0   0   40

    United-States   <=50K
0   United-States   <=50K
1   United-States   <=50K
2   United-States   <=50K
3            Cuba   <=50K
4   United-States   <=50K

In [2]:
df.columns = ['age','class','fnlwgt','education','eduNum','marital-status','ocupation','relationship','race','sex','capitalGain','capitalLoss','hours','nativeCountry','income']
df.describe()

,age,fnlwgt,eduNum,capitalGain,capitalLoss,hours
count,32560.000000,3.256000e+04,32560.000000,32560.000000,32560.000000,32560.000000
mean,38.581634,1.897818e+05,10.080590,1077.615172,87.306511,40.437469
std,13.640642,1.055498e+05,2.572709,7385.402999,402.966116,12.347618
min,17.000000,1.228500e+04,1.000000,0.000000,0.000000,1.000000
25%,28.000000,1.178315e+05,9.000000,0.000000,0.000000,40.000000
50%,37.000000,1.783630e+05,10.000000,0.000000,0.000000,40.000000
75%,48.000000,2.370545e+05,12.000000,0.000000,0.000000,45.000000
max,90.000000,1.484705e+06,16.000000,99999.000000,4356.000000,99.000000

In [3]:
import numpy as np
df = df.replace(' ?',None)
df = df.dropna()
print(df['class'].value_counts())
print('\nDimensions of data frame:', df.shape)

 Private             24094
 Self-emp-not-inc     2688
 Local-gov            2204
 State-gov            1373
 Self-emp-inc         1177
 Federal-gov          1002
 Without-pay            15
 Never-worked            7
Name: class, dtype: int64

Dimensions of data frame: (32560, 15)

In [4]:
df["class"] = df["class"].astype('category')
df["education"] = df["education"].astype('category')
df["marital-status"] = df["marital-status"].astype('category')
df["ocupation"] = df["ocupation"].astype('category')
df["relationship"] = df["relationship"].astype('category')
df["race"] = df["race"].astype('category')
df["sex"] = df["sex"].astype('category')
df["nativeCountry"] = df["nativeCountry"].astype('category')
df["income"] = df["income"].astype('category')
print(df.dtypes)

age                  int64
class             category
fnlwgt               int64
education         category
eduNum               int64
marital-status    category
ocupation         category
relationship      category
race              category
sex               category
capitalGain          int64
capitalLoss          int64
hours                int64
nativeCountry     category
income            category
dtype: object

In [5]:
print([(race,count/len(df['race'])) for (race,count) in list(zip(df.race.value_counts().index,df.race.value_counts()))])

[(' White', 0.8542690417690417), (' Black', 0.09594594594594595), (' Asian-Pac-Islander', 0.03191031941031941), (' Amer-Indian-Eskimo', 0.009551597051597051), (' Other', 0.008323095823095823)]

In [6]:
print(len(df[((df['race'].eq(' Black')) & (df['income'].eq(' >50K')))])/len(df[(df['race'].eq(' Black'))]))

0.12387964148527529

In [7]:
print(len(df[((df['race'].eq(' White')) & (df['income'].eq(' >50K')))])/len(df[(df['race'].eq(' White'))]))

0.25586913535861944

In [8]:
print(len(df[((df['race'].eq(' White')) & (df['sex'].eq(' Male')) & (df['income'].eq(' >50K')))])/len(df[(df['race'].eq(' White')) & (df['sex'].eq(' Male'))]))

0.3175820163771971

In [9]:
print(len(df[((df['race'].eq(' Black')) & (df['sex'].eq(' Female')) & (df['income'].eq(' >50K')))])/len(df[(df['race'].eq(' Black')) & (df['sex'].eq(' Female'))]))

0.05787781350482315